* {
  box-sizing: border-box;
}

:root {
  --main-btn-color: #52a7cc;
}

.main-btn-color {
  color: var(--main-btn-color);
}

html {
  font-size: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  background: #2d2d2d;
  height: 100vh;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 600px;
  height: 800px;
  border-radius: 4px;
  background: #dee0e0;
  padding: 30px;
}

.frame {
  border: 1px solid #1e6f93;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: flex-start;
}

.header-title {
  flex: 1;
  text-align: center;
  font-family: "Cinzel", serif;
  font-size: 3.6rem;
  color: #1e6f93;
}

.header-btn {
  background: unset;
  outline: unset;
  border: unset;
  font-size: 1.8rem;
  font-family: "Quicksand", sans-serif;
  padding: 16px;
  cursor: pointer;
}

.header-btn:active {
  text-shadow: 1px 1px 2px #1e6f93;
}

.header-btn:hover {
  color: #fff;
}

.add {
  padding: 16px;
  position: absolute;
  margin-top: 100px;
}

.add-form {
  display: flex;
  align-items: center;
}

.add-input {
  background: unset;
  border: unset;
  padding: 0 6px;
  flex: 1;
  border-bottom: 1px solid var(--main-btn-color);
  outline: unset;
  font-family: "Cinzel", serif;
  font-size: 16px;
}

.add-btn {
  font-size: 1.8rem;
  font-family: "Quicksand", sans-serif;
  padding: 16px;
  padding-right: unset;
  border: unset;
  background: unset;
  cursor: pointer;
  outline: unset;
}

.add-btn:active {
  text-shadow: 1px 1px 2px #1e6f93;
}
.add-btn:hover {
  color: #fff;
}

.todos {
  display: flex;
  flex-direction: column;
}

.todo {
  position: relative;
  flex: 1 0 auto;
  text-align: center;
  min-height: 34px;
  margin: 16px 0 0;
  font-family: "Cinzel", serif;
  font-size: 24px;
  border-bottom: 1px solid var(--main-btn-color);
}

.todo-text {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
